<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ajax1.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue-axios.min.js"></script>
  <script src="js/main.js"></script>
  <script>

  </script>
</head>

<body id="main">
  <!--左侧菜单栏-->
  <div id="left">
    <!-- logo -->
    <div id="logo">
      <img src="images/logo.png">
    </div>
    <!-- 用户信息 -->
    <div class="panel panel-default center-block">
      <div class="panel-heading" data-toggle="collapse" data-target="#user" >
        <strong>
          个人信息 <span class="caret"></span></span>
        </strong>
      </div>
      <div id="user" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="row">
            <strong class="col-xs-4">姓名</strong>
            <span class="col-xs-8">{{user.userName}}</span>
          </p>
          <p class="row">
            <strong class="col-xs-4">职称</strong>
            <span class="col-xs-8">{{user.professionTitle}}</span>
          </p>
          <p class="row">
            <strong class="col-xs-4">简介</strong>
            <span class="col-xs-8">{{user.introduction}}</span>
          </p>
          <p class="row">
            <strong class="col-xs-4">手机</strong>
            <span class="col-xs-8">{{user.phone}}</span>
          </p>
          <button type="button" class="bth btn-default btn-xs col-xs-10 col-xs-offset-1"  data-toggle="modal" data-target="#userMsgCheck">
          修改
          </button>
        </div>
      </div>
    </div>
    <!--修改模拟弹出框-->
    <div class="modal fade" id="userMsgCheck" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
            <h4 class="modal-title">修改个人信息</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form class="form-horizontal" action="/api/user" method="post">
                <div class="form-group ">
                  <label for="eName" class="col-xs-3 control-label">姓名：</label>
                  <div class="col-xs-8 ">
                    <input type="text" class="form-control input-sm" id="eName" name="userName" v-model="user.userName">
                  </div>
                </div>
                <div class="form-group">
                  <label for="eLink" class="col-xs-3 control-label">职称：</label>
                  <div class="col-xs-8 ">
                    <textarea class="form-control input-sm" id="eLink" name="professionTitle"v-model="user.professionTitle"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="eOrd" class="col-xs-3 control-label">简介：</label>
                  <div class="col-xs-8">
                    <textarea class="form-control input-sm" id="eOrd" name="introduction"v-model="user.introduction"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="eKnot" class="col-xs-3 control-label">手机：</label>
                  <div class="col-xs-8">
                    <input type="number" class="form-control input-sm" id="eKnot" name="phone" v-model="user.phone">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
            <input type="submit" value="保存"  class="btn btn-xs btn-xs btn-success"  data-dismiss="modal">
          </div>
        </div>
      </div>
    </div>
    <!-- 功能菜单 -->
    <ul class="list-group" role="menu">
      <li class="list-group-item active" href="#teachers" aria-controls="teachers" role="tab" data-toggle="tab">
        教师信息
      </li>
      <li class="list-group-item" href="#invigilate" aria-controls="invigilate" role="tab" data-toggle="tab">
        监考信息
      </li>
      <li class="list-group-item" href="#remind" aria-controls="remind" role="tab" data-toggle="tab">
        监考提醒
        <span class="badge">
          2
        </span>
      </li>
      <li class="list-group-item" href="#task" aria-controls="task" role="tab" data-toggle="tab">
        任务
        <span class="badge">
          1
        </span>
      </li>
    </ul>
  </div>

  <!-- 右侧内容 -->
  <div id="right" class="pull-left tab-content">
    <!-- 教师信息 -->
    <div role="tabpanel" class="tab-pane active" id="teachers">
      <div class="head addBtn">
        <button v-if="role_id==1" type="button" class=" btn btn-yellow bthAdd" data-toggle="modal" data-target="#addTeachers">
          添加教师信息
        </button>
      </div>
      <table  id="userTable" class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">id</th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
              姓名
            </th>
            <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              职称
            </th>
            <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              简介
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              手机
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              操作
            </th>
          </tr>
        </thead>
        <tbody >
          <tr v-for="item in teachers">
            <td class="hidden">{{item.user_id}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.professionTitle}}</td>
            <td>{{item.introduction}}</td>
            <td>{{item.phone}}</td>
            <td>
              <button v-on:click=checkUser(item.user_id) type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#checkTeachers">查看</button>
              <div class="btn-group" v-if="role_id==1">
                <button type="button" class="btn btn-warning btn-xs " data-toggle="modal" data-target="#changeTeachers">修改</button>
                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteTeachers">删除</button>
                <button type="button" class="btn btn-xs "  v-bind:class="{hidden:item.role_id==2}"  data-toggle="modal" data-target="#deleteRole" v-on:click=role()>删除管理员</button>
                <button type="button" class="btn btn-xs btn-while" v-bind:class="{hidden:item.role_id==1 }"  data-toggle="modal" data-target="#addRole" v-on:click=role()>添加管理员</button>
              </div>
            </td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 页码 active表示选中 -->
      <div style="text-align:center">
        <ul class="pagination ">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <!-- 用户添加弹出模拟框-->
      <div class="modal fade" id="addTeachers" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title">添加教师信息</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal" action="/api/user" method="post">
                  <div class="form-group ">
                    <label for="aName" class="col-xs-3 control-label">姓名：</label>
                    <div class="col-xs-8 ">
                      <input type="text" class="form-control input-sm" id="aName" name="userName">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aLink" class="col-xs-3 control-label">职称：</label>
                    <div class="col-xs-8 ">
                      <textarea class="form-control input-sm" id="aLink" name="professionTitle"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aOrd" class="col-xs-3 control-label">简介：</label>
                    <div class="col-xs-8">
                      <textarea class="form-control input-sm" id="aOrd" name="introduction"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aKnot" class="col-xs-3 control-label">手机：</label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control input-sm" id="aKnot" name="phone">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 control-label">管理员：</label>
                    <div class="col-xs-8">
                      <label class="control-label" for="aAnniu">
                                                            <input type="radio" name="leixing" id="aAnniu" value="1">是</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label class="control-label" for="aMeun">
                                                            <input type="radio" name="leixing" id="aMeun" value="2">否</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-xs btn-default" data-dismiss="modal">取 消</button>
              <input type="submit" value="保存"  class="btn btn-xs btn-xs btn-success"  data-dismiss="modal">
            </div>
          </div>
        </div>
      </div>
      <!-- 查看弹出模拟框-->
      <div class="modal fade" id="checkTeachers" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title">查看教师信息</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                  <p>
                    <div class="col-xs-2">
                      <strong>姓名：</strong>
                    </div>
                    <div class="col-xs-10 " id="aName">
                       {{userName}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>职称：</strong>
                    </div>
                    <div class="col-xs-9 " id="aLink">
                      {{professionTitle}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>简介：</strong>
                    </div>
                    <div class="col-xs-9 " id="aOrd">
                      {{introduction}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>手机：</strong>
                    </div>
                    <div class="col-xs-9 " id="aKnot">
                      {{phone}}
                    </div>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--修改模拟弹出框-->
      <div class="modal fade" id="changeTeachers" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
              <h4 class="modal-title">修改教师信息</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal" action="/api/user" method="post">
                  <div class="form-group ">
                    <label for="tName" class="col-xs-3 control-label">姓名：</label>
                    <div class="col-xs-8 ">
                      <input type="text" class="form-control input-sm" id="tName" name="userName" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tLink" class="col-xs-3 control-label">职称：</label>
                    <div class="col-xs-8 ">
                      <textarea class="form-control input-sm" id="tLink" name="professionTitle"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tOrd" class="col-xs-3 control-label">简介：</label>
                    <div class="col-xs-8">
                      <textarea class="form-control input-sm" id="tOrd" name="introduction"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tKnot" class="col-xs-3 control-label">手机：</label>
                    <div class="col-xs-8">
                      <input type="number" class="form-control input-sm" id="tKnot" name="phone">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <input type="submit" value="保存"  class="btn btn-xs btn-xs btn-success"  data-dismiss="modal">
            </div>
          </div>
        </div>
      </div>
      <!--删除教师信息弹出模拟框-->
      <div class="modal fade" id="deleteTeachers" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true>">&times;</button>
              <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                确定要删除该教师信息？删除后不可恢复！
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" v-on:click=deleteTeachers()>确定</button>
            </div>
          </div>
        </div>
      </div>
      <!--删除管理员弹出模拟框-->
      <div class="modal fade" id="deleteRole" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true>">&times;</button>
              <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                确定要删除该管理员？删除后不可恢复！
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" v-on:click=role()>确定</button>
            </div>
          </div>
        </div>
      </div>
      <!--添加管理员弹出模拟框-->
      <div class="modal fade" id="addRole" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true>">&times;</button>
              <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                确定要添加该管理员？
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" v-on:click=role()>确定</button>
            </div>
          </div>
        </div>
      </div>
      <!-- php
      <script>
        var oUserTable = document.getElementById("userTable");
        ajax('main.php?n=' + Math.random(), function(data) {
          console.log(data);
          oUserTable.innerHTML = data;
        });
      </script> -->
    </div>

    <!-- 监考信息 -->
    <div role="tabpanel" class="tab-pane " id="invigilate">
      <div class="head addBtn">
        <button v-if="role_id==1" type="button" class=" btn btn-yellow bthAdd" data-toggle="modal" data-target="#addInvigilate">
          添加监考信息
        </button>
      </div>
      <table  id="invigilateTable" class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">id</th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
              起止时间
            </th>
            <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              地点
            </th>
            <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              课程名称
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              所需人数
            </th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              操作
            </th>
          </tr>
        </thead>
        <tbody v-for="item in invigilate">
          <tr>
            <td class="hidden">{{item.userId}}</td>
            <td>{{item.startTime}} - {{item.deadLine}}</td>
            <td>{{item.location}}</td>
            <td>{{item.courseName}}</td>
            <td>{{item.needCount}}</td>
            <td>
              <button v-on:click=checkUser(item.user_id) type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#checkInvigilate">查看</button>
              <div class="btn-group" v-if="role_id==1">
                <button type="button" class="btn btn-xs "  v-bind:class="{hidden:item.status==2}">已分配</button>
                <button type="button" class="btn btn-xs btn-while" v-bind:class="{hidden:item.status==1 }">分配</button>
                <button type="button" class="btn btn-warning btn-xs " data-toggle="modal" data-target="#changeInvigilate">修改</button>
              </div>
            </td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 页码 active表示选中 -->
      <div style="text-align:center">
        <ul class="pagination ">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <!-- 监考信息添加弹出模拟框-->
      <div class="modal fade" id="addInvigilate" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title">添加监考信息</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal">
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">起止时间：</label>
                    <div class="col-xs-8 ">
                      <input type="date" class="form-control input-sm"  name="">
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">结束时间：</label>
                    <div class="col-xs-8 ">
                      <input type="date" class="form-control input-sm"  name="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cLink" class="col-xs-3 control-label">地点：</label>
                    <div class="col-xs-8 ">
                      <input class="form-control input-sm" id="cLink" name="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cOrd" class="col-xs-3 control-label">课程名称：</label>
                    <div class="col-xs-8">
                      <input class="form-control input-sm" id="cOrd" name="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cKnot" class="col-xs-3 control-label">所需人数：</label>
                    <div class="col-xs-8">
                      <input type="text" class="form-control input-sm" id="cKnot" name="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-xs btn-default" data-dismiss="modal">取 消</button>
              <input type="submit" value="保存"  class="btn btn-xs btn-xs btn-success"  data-dismiss="modal">
            </div>
          </div>
        </div>
      </div>
      <!-- 查看弹出模拟框-->
      <div class="modal fade" id="checkInvigilate" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title">查看用户</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                  <p>
                    <div class="col-xs-2">
                      <strong>起止时间：</strong>
                    </div>
                    <div class="col-xs-10 " id="aName">
                       {{startTime}} - {{deadLine}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>地点：</strong>
                    </div>
                    <div class="col-xs-9 " id="aLink">
                      {{location}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>课程名称：</strong>
                    </div>
                    <div class="col-xs-9 " id="aOrd">
                      {{courseName}}
                    </div>
                  </p>
                  <p>
                    <div class="col-xs-2">
                      <strong>所需人数：</strong>
                    </div>
                    <div class="col-xs-9 " id="aKnot">
                      {{needCount}}
                    </div>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--修改模拟弹出框-->
      <div class="modal fade" id="changeInvigilate" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
              <h4 class="modal-title">修改监考信息</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal">
                  <div class="form-group ">
                    <label for="dName" class="col-xs-3 control-label">起止时间：</label>
                    <div class="col-xs-8 ">
                      <input type="date" class="form-control input-sm" id="dName" name="开始时间">
                      <input type="date" class="form-control input-sm" name="结束时间">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dLink" class="col-xs-3 control-label">地点：</label>
                    <div class="col-xs-8 ">
                      <textarea type="" class="form-control input-sm" id="dLink" name=""></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dOrd" class="col-xs-3 control-label">课程名称：</label>
                    <div class="col-xs-8">
                      <textarea type="" class="form-control input-sm" id="dOrd" name=""></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dKnot" class="col-xs-3 control-label">所需人数：</label>
                    <div class="col-xs-8">
                      <input type="" class="form-control input-sm" id="dKnot" name="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <button type="button" class="btn btn-xs btn-success"  data-dismiss="modal">保 存</button>
            </div>
          </div>
        </div>
      </div>
      <!--删除弹出模拟框-->
      <div class="modal fade" id="deleteInvigilate" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true>">&times;</button>
              <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                确定要删除该监考信息？删除后不可恢复！
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
              <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</body>

</html>
